.container
	.row.mt-5
		.col-10
			a(href="/")
				img(src="/public/img/logo-color.png" alt="tnAchieves" class="logo-img")
		//- if session.passport
		.col-2
			ul.nav
				li.nav-item
					form(method="POST")
						button(type="submit" formaction="/logout") Logout